<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
      <div class="wrapper">
          <div class="content">
              {{ content }}
          </div>
          <div class="push">
          </div>
          {% include footer.html %}
          <div class="footer">
              <div id="info">
                  <span>© <a href="http://dodopoint.com/">Spoqa</a> Inc. All rights reserved.</span>
                  <span>Powered by <a href="https://pages.github.com/">GitHub Pages</a>.</span>
              </div>
          </div>
      </div>




  </body>

</html>

